/*Colour Palette*/
html { 
  margin: 0px;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background-color: #160026;
}

.container {
  margin-bottom: 0;
  min-height: 100%;
  background-color: whitesmoke;
}

.col-sm-6 {
  background-color: whitesmoke;
}

/*Positioning for uniform carousel controls*/
.carousel-control-prev {
  left: 0%;
  top: -45%;
  position: relative;
}
.carousel-control-next {
  right: -85%;
  top: -48%;
  position: relative;
}

/*Styles for Accordian*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}